.network-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/desktop/img/background/common-back.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0px;
    bottom: 0px;
    color: white;
}

.title-community{
    background-color: #F8C16C;
    background-image: linear-gradient(45deg, #DF7646, #F8C16C);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    letter-spacing: 8px !important;
    line-height: 3 !important;
}

.title-updates{
    background-color: #F8C16C;
    background-image: linear-gradient(45deg, #EA9757, #F8C16C);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    letter-spacing: 8px !important;
    line-height: 3 !important;
}

.title-whereto{
    background-color: #F8C16C;
    background-image: linear-gradient(45deg, #F8C16C, #E3804B);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    letter-spacing: 8px !important;
    line-height: 3 !important;
}

.side-head{
    position: absolute;
    height: 50%;
    left: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.homeBtn{
    position: fixed;
    letter-spacing: 10;
    left: 65px;
    top: 340px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.15em;
    text-align: left;
}

.network-cross{
    width: auto;
    display: none !important;
    font-weight: 300;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 30px;
    left: calc(44% - 80px/2);
} 

.item-group-community{
    position: absolute;
    left: 18%;
}

.item-group-update{
    position: absolute;
    left: calc(45% - 156px/2 );
}

.item-group-whereto{
    position: absolute;
    right: 17%;
}

@media (max-width: 1240px) {
    .homeBtn{
        display: none !important;
    }
    .network-cross{
        display: block !important;
    }
    .title-community, .title-updates, .title-whereto{
        line-height: 1 !important;
    }
    .network-content{
        background-image: url("../../assets/mobile/svg/background/vector-back.svg");
        background-size: contain !important;
        background-color: #262626 !important;
        background-position: center !important;
        transition: all 0.5s ease;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .text-core-font{
        font-size: 13px !important;
    }

    .item-group-community{
        position: absolute;
        font-size: 16px !important;
        left : calc(44% - 100px/2);
        top: calc(28% - 80px/2);
    }

    .item-group-update{
        position: absolute;
        font-size: 16px !important;
        left : calc(44% - 100px/2);
        top: calc(28% - 80px/2 + 170px);
    }

    .item-group-whereto{
        position: absolute;
        display: inline-block;
        font-size: 16px !important;
        left : calc(44% - 100px/2);
        top: calc(28% - 68px/2 + 262px);
    }

    .title-bottom{
        margin-bottom: -8px !important;
        font-size: 16px !important;
    }

    .text-content{
        direction: "column" !important;
        padding: 0px;
        display: block !important;
    }
    
    .network-content p{
        font-size: 16px !important;
    }
}

.item-group-community, .item-group-update, .item-group-whereto a{
    font-size: 24px;
    letter-spacing: 8px;
}

.network-content p{
    font-size: 24px;
    letter-spacing: 8px !important;
}

@media (max-width:768px) {
    .side-head{
        display: block !important;
    }
}
