.testnet{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 70%;
    padding: 0% 0.5%;
    background-image: url("../../assets/img/back/testnet-back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    font-family: "Futura PT" !important;
    letter-spacing: 10 !important;
    color: hsl(0deg 0% 84%) !important;
}
.vector-div{
    width: 86px;
    height: 86px;
    margin-left: 0px !important;
    background-image: url("../../assets/svg/testnet-vector.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vector-div-toogle{
    width: 29px;
    height: 29px;
    margin-left: 43% !important;
    background-image: url("../../assets/responsive/svg/res-tesnet-vector.svg");
    display: none;
}

.testnet-item-group{
    position: relative;
}
.path-cross{
    width: auto;
    display: none !important;
    font-weight: 100;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 30px;
    left: calc(44% - 40px/2);
}

@media (max-width:800px) {
    .testnet{
        background-image: url("../../assets/responsive/svg/res-network.svg");
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .vector-div{
        width: 29px;
        height: 29px;
        margin-bottom: 10px;
        margin-left: 43% !important;
        background-image: url("../../assets/responsive/svg/res-tesnet-vector.svg");
    }
    .vector-div-toogle{
        display: block !important;
        margin-top: -10px !important;
        margin-bottom: 10px;
    }
    .testnet-item-group{
        position: absolute;
        left : calc(40% - 217px/2);
    }
}

@media (max-width:800px) {
    .path-cross{
        display: block !important;
    }
}