.logo-image{
    width: 53px;
    height: 46px;
    background-image: url("../../assets/img/logo/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:700px) {
    .logo-image{
        height: 21px;
        width: 24px;
        border-radius: 0px;
    }
}