.navbar{
   padding:1% 3.5%;
   display: flex;
   color: #FFFFFF !important;
   justify-content: space-between;
   background-color: #1d1d1d00 !important;
   font-family: 'Futura PT';
   z-index: 10000 !important;
}

a{
    color: hsl(0deg 0% 84%)!important;
}

.about-network{
    font-family: Futura PT;
    font-size: 24px;
    font-style: normal;
    color: #FFFFFF !important;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.5em;
    margin-right: 0px !important;
}

.logo{
    font-family: Futura PT;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.5em;
    text-align: left;
    margin-right: 0px !important;
}

@media (max-width:700px) {
   .about-network{
        font-family: Futura PT;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        text-align: left;
   }
   .navbar{
       padding: 4% 3.5%;
       margin-left: 0;
       justify-content: space-between !important;
   }
   .logo{
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
   }
}
