.navbar{
   padding:0 2.5%;
   padding-top: -1%;
   display: flex;
   justify-content: space-between;
   background-color: #1d1d1d00 !important;
   z-index: 10000 !important;
}
.navbar-light .navbar-brand {
    color: hsl(0deg 0% 84%);
    font-family: 'Futura PT';
    font-size: 16.5px;
}
.navbar-brand{
    letter-spacing: 8px;
}
a{
    color: hsl(0deg 0% 84%)!important;
}
a:active{
    border-bottom: white 1px solid;
}
a:focus{
    border-bottom: white 1px solid;
}
.about{
     
    margin-right: 0px !important;
}
.network{
  
    margin-right: 0px !important;
}
.logo{
   
    margin-right: 0px !important;
}

@media (max-width:700px) {
   .navbar-light .navbar-brand{
     font-size: 13px !important;
     letter-spacing: 4px !important;
   }
   .navbar{
       padding : 0 2%;
       margin-left: 0;
       justify-content: space-between !important;
   }
   
}
