.path{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/desktop/svg/background/path-back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    color: hsl(0deg 0% 84%) !important;
}
.vector-div{
    width: 86px;
    height: 86px;
    margin-top: -20px;
    background-image: url("../../assets/desktop/svg/icon/path-vector.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vector-div-toogle{
    width: 29px;
    height: 29px;
    background-image: url("../../assets/mobile/svg/icon/path-vector.svg");
    display: none !important;
}

.path-cross{
    width: auto;
    display: none !important;
    font-weight: 100;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 30px;
    left: calc(40% - 40px/2);
}

.path {
    font-family: "Futura PT";
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.5em;
    text-align: center;
}

.path div{
    padding: 0px !important;
    display: inline-block;
}

.path-item-group{
    margin-top: 100px;
    display: inline-block !important;
}

.path p{
    font-family: "Futura PT";
}

.title-path{
    font-family: Futura PT;
    font-size: 30px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.5em;
    text-align: left;
}

.subtitle-path{
    font-family: Futura PT;
    font-size: 27px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0.5em;
    text-align: center;
    opacity: 27%;
}
.seemoreBtn{
    width:250px;
    height:70px;
    margin-top:20px !important;
    border-radius: 0px !important;
}

.decen-one{
    display: inline;
}

.decen-two{
    display: none;
}

@media (max-width:768px) {
    .path{
        background-image: url("../../assets/mobile/svg/background/papers-back.svg");
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .title-path, .subtitle-path{
        font-size: 16px !important;
        text-align: center !important;
    }

    .decen-one{
        display: none;
    }
    .decen-two{
        display: inline-table;
        margin-left: 5%;
    }
    .text-jun{
        margin-left: 5% !important;
    }

    .seemoreBtn{
        width: 40%;
        height: 10%;
        margin-left: 5% !important;
    }

    .item-decen{
        margin-top: -10% !important;
    }
    
    .vector-div{
        width: 29px;
        height: 29px;
        margin-left: 39%;
        background-image: url("../../assets/mobile/svg/icon/path-vector.svg");
    }
    .path div{
        display: block;
    }
    .vector-div-toogle{
        display: block !important;
        margin-top: -17%;
        margin-left: 39%;
        margin-bottom: 35%;
    }

    .path-full-group{
        position: relative;
        margin-left: 5%;
    }
    .path-item-group{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
}

h2{
    font-size: 30px;
}
.path-cross-text{
    position: absolute;
    bottom: 60px;
}

@media (max-width: 768px) {
    .path-cross{
        position: absolute;
        display: block !important;
        left: calc(50% - 68px/2);
        bottom: 20px;
    }
    h2{
        font-size: 16px;
    }
}

