.home {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/back/head-top.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0px;
    bottom: 0px;
    font-family:" Futura PT";
    letter-spacing: 4px;
}

.paperChange{
    width: 138px;
    height: 128px;
    background-image: url("../../assets/svg/papersButton.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pathChange{
    width: 120px;
    height: 135px;
    background-image: url("../../assets/svg/pathButton.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.testnetChange{
    width: 160px;
    height: 131px;
    background-image: url("../../assets/svg/testnetButton.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.home-indicator{
    position: absolute;
    display: none;
    width: 134px;
    height: 5px;
    left: calc(44% - 100px/2);
    bottom: 8px;
    background: #FFFFFF;
    border-radius: 100px;
}

@media (max-width:768px) {
    .home-indicator{
        display: block !important;
    }
    .home{
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        background-color: #191919;
        border-bottom: white 3px solid;
        background-image: url("../../assets/responsive/png/responsive-main.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .paperChange{
        width: 70px;
        height: 76px;
        left:26px;
        padding:0px;
        background-image: url("../../assets/responsive/png/res-papers.png");
        background-repeat: no-repeat;
        position: fixed;
        bottom: 100px;
    }
    .pathChange{
        width: 47px;
        height: 80px;
        left:45%;
        padding:0px;
        background-image: url("../../assets/responsive/png/res-path.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        bottom: 100px;
    }
    .testnetChange{
        width: 84px;
        height: 79px;
        right:20px;
        padding:0px;
        background-image: url("../../assets/responsive/png/res-testnet.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        bottom: 100px;
    }
    .maincontent{
        margin-top: 150% !important;
        justify-content: space-evenly !important;
    };
}
